services:
  gemini-web-proxy:
    # 'image' yerine 'build' kullanıyoruz, Coolify Dockerfile'ı okuyacak
    build: . 
    container_name: gemini_web_proxy
    volumes:
      # Sadece oturum verisi kalıcı kalsın, kodlar zaten imajın içinde
      - gemini_service_data:/root/.gemini-service
    ports:
      - "8081:8080"
    restart: always

volumes:
  gemini_service_data:
    external: false
